.two-column.layout-reverse .content{
	flex-direction: row-reverse;
}

.two-column .content{
	display: flex;
    flex-direction: row;
    align-items: center;
}

.two-column .content .offers{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.two-column .content .offers .offer{
	flex-basis: 50%;
	margin-bottom: 50px;
}

.two-column .content .offers .offer h3{
	font-size: 21px;
    color: #5336b1!important;
    letter-spacing: -0.37px;
    line-height: 30px;
    font-weight: 500;
}

.two-column .content .offers .offer p{
	line-height: 26px;
}

.two-column .content .left-sec{
	flex-basis: 58.8%;
	margin-right: 3%;
}

.two-column .content .right-sec{
	flex-basis: 38.2%;
}

.two-column .content .right-sec img{
	max-width: 100%;
	height:auto;
	object-fit: contain;
}

.two-column .content .left-sec h2{
	font-size: 40px;
    color: #302378;
    letter-spacing: 0.7px;
    line-height: 54px;
}

.two-column .content .left-sec h2.subheading{
	color: #0dbf7c;
}

.two-column .content .left-sec .left-sec-content{
	display:block;
}

.two-column .content .left-sec .left-sec-content span{
	color: #4d4476;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
}

.two-column .content .left-sec .left-sec-content ul{
	margin-top: 40px;
	margin-bottom: 30px;
}

.two-column .content .left-sec .left-sec-content ul li{
	font-size: 21px;
    letter-spacing: -0.26px;
    line-height: 44px;
}

/*media queries*/
@media screen and (max-width: 768px) {
	.two-column.layout-default .content .left-sec{
		flex-basis: 70%;
	}
	.two-column.layout-default .content .right-sec{
		flex-basis: 30%;
	}
}

@media screen and (max-width: 480px) {
 	.two-column .content{
		flex-direction: column;
		padding: 10px;
	}
	.two-column.layout-reverse .content{
		flex-direction: column;
	}
	.two-column .content .offers .offer{
		flex-basis: 100%;
	}
	.two-column .content .right-sec img{
		width:200px;
	}
	.two-column.mod-padding .content.pt-row{
		padding-top: 50px;
	}
}