.cards{
	padding-top: 54px;
	padding-bottom: 120px;
}

.cards h2{
	font-size: 40px;
    color: #302378;
    letter-spacing: -0.7px;
    line-height: 54px;
}

.cards h2.subheading{
	color: #0dbf7c;
	margin-bottom: 40px;
}

.cards .cards-info .card{
	color: #2a206a;
    line-height: 22px;
    background-color: #F5F5F7;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    padding-top: 15px;
    padding-right: 24px;
    padding-bottom: 5px;
    padding-left: 24px;
    margin-bottom: 25px;
    flex-basis: calc(100%/3 - 70px);
}

.cards .cards-info .card:nth-child(3n+2){
	margin-left: 30px;
    margin-right: 30px;
}

.cards .cards-info .card img.icon{
	margin-bottom: 50px;
    min-height: 24px;
    line-height: 0;
    max-width: 100%;
    display:block;
}

.cards .cards-info .card a.heading, .cards .cards-info .card span.heading{
	font-size: 20px;
    color: #2a206a;
    line-height: 30px;
    text-decoration: unset;
}

.cards .cards-info .card .card-inner{
	position: relative;
}

.cards .cards-info .card .card-inner .desc{
	transform-style: preserve-3d;
    top: 0;
    opacity: 0;
    transition: all 1s ease!important;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    display:block;
}

.cards .cards-info .card:hover .card-inner img.icon{
	opacity: 0;
}

.cards .cards-info .card:hover .card-inner span.heading, .cards .cards-info .card:hover .card-inner a.heading{
	opacity: 0;
}

.cards .cards-info .card:hover .card-inner .desc{
	display: block;
    opacity: 1;
}
.cards .cards-info .card:hover .card-inner .desc h4{
	font-size: 20px;
    color: #2a206a;
    line-height: 30px;
    margin-bottom: 0px;
}

.cards .cards-info .card .card-inner .desc a{
	position: absolute;
    right: 10px;
    bottom: 5px;
    width: 100%;
    text-align: right;
}
.cards .cards-info .card:hover .card-inner .desc p{
	padding-bottom: 16px;
}

@media screen and (max-width: 480px) {
	.cards{
		padding-top: 0px;
	}
	.cards .cards-info .card{
		flex-basis: 100%;
	}
	.cards .cards-info .card:nth-child(3n+2){
		margin-left: 0px;
		margin-right: 0px;
	}
}