/*This file includes all the common styles used across the theme*/
body{
    color: #2a206a;
    font-weight: 500;
    font-size: 16px;
    font-family: Graphik-Regular,Arial,sans-serif;
    line-height: 1.7em;

}
a{
    cursor: pointer;
}
.container{
    max-width: 1920px;
    margin: auto;
}
.col{
	flex: 1;
}
.btn{
    padding: 10px 14px;
    font-family: Graphik-Medium;
    color: #2A206A;
    letter-spacing: 0;
    text-align: center;
    line-height: 1;
    text-decoration: unset;
    border-width: 0px;
    border-radius: 18px;
    font-size: 18px;
    background-color: #1ad48e;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: 500;
}

.flex-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 500;
}

.text-center{
	text-align: center; 
}
.green{
    color: #1ad48e;
}
.text{
    line-height: 26px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 350px;
    font-family: 'Graphik-Regular';
    color: #4d4476;
}

h2{
    font-size: 56px;
    color: #0dbf7c;
    letter-spacing: -0.47px;
    line-height: 70.3px;
}

.constrained-width{
    width: 100%;
    max-width: 1300px;
    margin:auto;
}

.pb-row{
    padding-right: 50px;
    padding-bottom: 180px;
    padding-left: 50px;
}

.pb_row{
   padding-right: 50px;
   padding-bottom: 0px;
   padding-left: 50px; 
}

.et_pb_row{
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
}

.pt-row{
    padding-top: 320px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
}

.pl-0{
    padding-left: 0px;
}

.mt-0{
    margin-top: 0px;
}

.mb-0{
    margin-bottom: 0px;
}

.my-0{
   margin-top: 0px; 
   margin-bottom: 0px;
}

.pb-10{
    padding-bottom: 10px;
}

.bg-white{
    background-color: #fff;
}

.fg-white{
    color: #FFF;
}

.fade-in {
    opacity:0;
}

.slide-up {
    opacity:0;
    position:relative;
    top:200px;
}

.scroll-slide-right {
    position: relative;
    left: -10vw;
}
.scroll-slide-left {
    position: relative;
    left: 10vw;
}

/***** Slide Right *****/
.slide-right {
  animation: 1.5s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -15vw;
  }
  to {
    margin-left: 0px;
  }
}

/***** animate Right *****/
.animate-right {
  animation: 1s animate-right;
}
@keyframes animate-right {
  from {
    margin-left: -10vw;
  }
  to {
    margin-left: 0px;
  }
}
