.header{
	background-color: #f4f4f7;
	position: fixed;
	line-height: 23px;
    font-weight: 500;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 80px;
}

.header .container{
	max-width: 1440px;
    width: 95%;
    height: 100%;
}

.header .container .header-items{
	height:100%;
}

.logo_container{
	display:flex;
	flex-direction: row;
	align-items: center;
}

/*header menu styles*/
.header-items{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header a{
	text-decoration: none;
	color: #160D4F;
}

#menu-header-menu{
	display:flex;
	flex-direction: row;
}

#menu-header-menu li, .header-items .items a{
	list-style: none;
	display: inline-block;
    font-size: 14px;
    padding-right: 22px;
}
#menu-header-menu li a{
	text-decoration: none;
}
.mobile-menu{
	display: none;
}

/*media queries*/
@media screen and (max-width: 768px) {
	.header-items .menu-header-menu-container{
		display: none;
	}
	.header-items .items a:first-child{
		display:none;
	}
	.mobile-menu{
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    padding: 0px;
	    width: 35%;
	}
	.header-items .logo_container{
		flex-basis: 50%;
	}
	.header-items .items{
		flex-basis: 50%;
    	display: flex;
    	align-items: center;
   		margin-left: 30px;
   		justify-content: flex-end;
	}
	.mobile-menu .sliding-menu-button{
		background: none;
	    border: none;
	    width: 35px;
	    height: auto;
	    position: relative;
	    z-index: 7;
    	margin: auto;
    	transform: rotate(0deg);
    	transition: .5s ease-in-out;
    	cursor: pointer;
    	margin-top: 0px;
	}
	.mobile-menu .sliding-menu-button span{
		background-color: #2A206A;
		display: block;
	    position: relative;
	    margin: 2px 0px;
	    height: 4px;
	    width: 100%;
	    border-radius: 10px;
	    opacity: 1;
	    left: 0;
	    transform: rotate(0deg);
	    transition: .25s ease-in-out;
	}
}

@media screen and (max-width: 480px) {
	.header-items .items{
   		justify-content: unset;
	}
}